.parent-div {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  border: 3px black solid;
}
.row-div {
  height: 50px;
  display: flex;
  flex-direction: row;
}

.child-div {
  flex : 1;
  height : 48px;
  width : 48px;
  border : 2px black solid;
  color : #f389ca;
}

.child-div:hover{
  color: #8e2db8;
}